<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls" style="font-size: 30px;">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>

        <% if (!user) { %>
          
          <form class="form-inline" action="/urls/login" method="POST" style="margin-left: 900px;">
            <div class="form-group mb-2">
              <ul>
                <li><a href="/urls/login" style="color:blue;font-size: 25px;">Login</a></li>
              </ul>
              
            </div>
            </form>
            <form action="/register" method="GET" style="margin-left: 10px;">
              <div class="form-group mb-2">
                <a href="/register" style="color:blue;font-size: 25px;">Register</a>
              </div>
            </form>
            <% } else { %>
          <form class="form-inline" action="/urls/logout" method="POST" style="margin-left: 400px;">
            <div class="form-group mb-2">
              <a class="nav-item nav-link" href="/urls/login">Logged in as <%= user.email %></a>
              <button type="submit" class="btn btn-primary">Logout</button>
            </div>
          </form>
          <% } %>
      </div>
    </div>
  </nav>
</header>